<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>308466822553-pffua5favpbh1bc0ud9fi76t6g3bo5bf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.308466822553-pffua5favpbh1bc0ud9fi76t6g3bo5bf</string>
	<key>API_KEY</key>
	<string>AIzaSyBilBedyn9ZvvHsenWiIC1KeUmaLvOHll4</string>
	<key>GCM_SENDER_ID</key>
	<string>308466822553</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>quantpulse-553db</string>
	<key>STORAGE_BUCKET</key>
	<string>quantpulse-553db.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:308466822553:ios:024d2f0a0c6a3a58dcf708</string>
</dict>
</plist>